body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}

.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
}

.circle {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
}

.title-container {
    width: 30%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    width: min-content;
    font-size: 80px;;
    font-weight: 700;
    -webkit-text-stroke: 3px rgb(230, 230, 230);
    background:  linear-gradient(#ffffff, #ffffff) left  no-repeat, #121212;
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
}

.title:hover { 
    background-size: 100% 100%;
}

.title.background-toggle {
    background-size: 100% 0%;
}

.title:hover.background-toggle { 
    background-size: 100% 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.component {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    background-color: #1f1f1f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    transition: box-shadow 0.75s ease, transform 0.5s ease;
}

.component:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}

.component h2 {
    font-size: 50px;
    grid-column: span 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.option-select,
.api-button {
    width: 100%;
    padding: 10px;
}

.file-select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #6c757d; /* Add a border to the file selector (grayish color) */
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.file-select:hover {
    background-color: #6c757d;
    color: #fff;
}

.supported-formats {
    grid-column: span 2;
    margin-top: 20px;
}

.api-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.api-button:hover {
    background-color: #0056b3;
}

.api-button[disabled] {
    background-color: #666;
    cursor: not-allowed; /* Change cursor to not-allowed for disabled button */
}

.supported-formats {
    grid-column: span 2;
}

.toast { 
    position: fixed; 
    top: 25px; 
    right: 25px; 
    max-width: 300px; 
    background: #fff; 
    padding: 0.5rem; 
    border-radius: 4px; 
    box-shadow: -1px 1px 10px
        rgba(0, 0, 0, 0.3); 
    z-index: 1023; 
    animation: slideInRight 0.3s 
            ease-in-out forwards, 
        fadeOut 0.5s ease-in-out 
            forwards 3s; 
    transform: translateX(110%); 
} 
  
.toast.closing { 
    animation: slideOutRight 0.5s 
        ease-in-out forwards; 
} 
  
.toast-progress { 
    position: absolute; 
    display: block; 
    bottom: 0; 
    left: 0; 
    height: 4px; 
    width: 100%; 
    background: #b7b7b7; 
    animation: toastProgress 3s 
        ease-in-out forwards; 
} 
  
.toast-content-wrapper { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
  
.toast-icon { 
    padding: 0.35rem 0.5rem; 
    font-size: 1.5rem; 
} 
  
.toast-message { 
    flex: 1; 
    font-size: 0.9rem; 
    color: #000000; 
    padding: 0.5rem; 
} 
  
.toast.toast-success { 
    background: #95eab8; 
} 
  
.toast.toast-success .toast-progress { 
    background-color: #2ecc71; 
} 
  
.toast.toast-danger { 
    background: #efaca5; 
} 
  
.toast.toast-danger .toast-progress { 
    background-color: #e74c3c; 
} 
  
.toast.toast-info { 
    background: #bddaed; 
} 
  
.toast.toast-info .toast-progress { 
    background-color: #3498db; 
} 
  
.toast.toast-warning { 
    background: #ead994; 
} 
  
.toast.toast-warning .toast-progress { 
    background-color: #f1c40f; 
} 
  
@keyframes slideInRight { 
    0% { 
        transform: translateX(110%); 
    } 
  
    75% { 
        transform: translateX(-10%); 
    } 
  
    100% { 
        transform: translateX(0%); 
    } 
} 
  
@keyframes slideOutRight { 
    0% { 
        transform: translateX(0%); 
    } 
  
    25% { 
        transform: translateX(-10%); 
    } 
  
    100% { 
        transform: translateX(110%); 
    } 
} 
  
@keyframes fadeOut { 
    0% { 
        opacity: 1; 
    } 
  
    100% { 
        opacity: 0; 
    } 
} 
  
@keyframes toastProgress { 
    0% { 
        width: 100%; 
    } 
  
    100% { 
        width: 0%; 
    } 
}